@page
@model Web.Pages.Products.DeleteModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h3>Izbriši izdelek</h3>

@if (Model.Product != null)
{
    <p>A ste prepričani da želite izbrisati <strong>@Model.Product.Code</strong>?</p>
    <form method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="code" value="@Model.Product.Code" />
        <button type="submit" class="btn btn-primary btn-danger">Izbriši</button>
        <a class="btn btn-primary hisense-button" href="/Products">Prekliči</a>
    </form>
}
