@page
@model Web.Pages.Products.DeleteModel
@{
    Layout = null;
}

<form method="post" action="/Products/Delete">
    @Html.AntiForgeryToken()
    <input type="hidden" name="code" value="@Model.Product.Code" />

    <div class="modal-header">
        <h5 class="modal-title">Izbriši izdelek</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>

    <div class="modal-body">
        <p>A ste prepričani da želite izbrisati <strong>@Model.Product.Code</strong>?</p>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-secondary btn-danger">Izbriši</button>
        <button type="button" class="btn btn-secondary hisense-button" data-bs-dismiss="modal">Prekliči</button>
    </div>
</form>